#gems #unity-text-input {
    background-color: rgba(242, 247, 255, 0);
    border-color: rgba(242, 247, 255, 0);
}

#gems #unity-text-input TextElement {
    -unity-font-style: bold;
}

#total #unity-text-input {
    background-color: rgba(242, 247, 255, 0);
    border-color: rgba(242, 247, 255, 0);
}

#total #unity-text-input TextElement {
    -unity-font-style: bold;
}

.unity-base-field__label {
    min-width: 90px;
}

#gems {
    color: blue;
}

#total {
    color: blue;
}
